<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Liste des annonces</h1>
  {{# annonces}}
  <div>
  <h2>Titre: {{titre}}</h2>
    <h2>Caractéristique: {{caracteristique}}</h2>
    <h2>Prix: {{prix}}$</h2>
  </div>
  <a href="/annonce/{{_id}}">Voir plus de détails</a>
    <a href="/delete/{{_id}}">Supprimer cette annonce</a>
{{/annonces}}

  <a href="/annonces/create">Créer un nouvelle annonces</a>
 
</body>
</html>
