<!DOCTYPE html>
<html>
<head>
</head>
<body>
 
 
  <form action="/update/{{id}}" method="POST">
    <div>
      <input type="text" id="titre" name="titre" value="{{titre}}" required>
    </div>
    <div>
      <input type="text" id="caracteristique" name="caracteristique" value="{{caracteristique}}" required>
    </div>
    <div>
      <input type="number" id="prix" name="prix" value="{{prix}}" required>
    </div>
    <div>
      <button type="submit">Modifier l'annonce</button>
    </div>
  </form>
</body>
</html>
